<form action="Login" method="POST">
    <input type="text" name="name" placeholder="Nome" /><br>
    <input type="password" name="pass" placeholder="Password" /><br>
    <input type="submit" />
</form>